html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    padding: 1rem;
    border-bottom: 1px solid #000;
    display: flex;
    background-color: #076e29;
}

.nav-links {
    flex-grow: 1;
    justify-content: end;
    display: flex;
}

.nav-link {
    display: inline-block;
    font-size: .9rem;
}

#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    background-color: #11076e;
    color: #FFFFFF;
}

#sidebar {
    width: 348px;
    padding: 1rem;
    font-size: 0.9rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

#map {
    height: 100%;
    flex-grow: 1;
}

.title {
    font-weight: 600;
    color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}

/* make each button the same color as the lines */
#fit-africa {
    background-color: #a83232;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 50;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-russia {
    background-color: #a83232;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-brazil {
    background-color: #4287f5;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-chile {
    background-color: #32a8a4;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-europe {
    background-color: #32a8a4;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-startline {
    background-color: #9332a8;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

#fit-endline {
    background-color: #9332a8;
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin-bottom: 5;
    outline: 0;
    padding: 11px 30px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}